<div class="inner-content">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height: 100%;">
    <div nz-col [nzLg]="14" [nzMd]="18" [nzSm]="20" [nzXs]="24">
      <h2>Nueva aplicación</h2>
      <span>Crea una nueva aplicación para iniciar sus pruebas</span>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" *ngIf="user">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">Tipo</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Selecciona un tipo de aplicación válido!">
            <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Selecciona">
              <nz-option nzValue="web" nzLabel="Web"></nz-option>
              <nz-option nzValue="mobile" nzLabel="Móvil"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div formGroupName="mobile" *ngIf="validateForm.value.type === 'mobile'">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="so">Sistema operativo</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24"
              nzErrorTip="Selecciona un tipo de sistema operativo válido válido!">
              <nz-select formControlName="so" nzAllowClear nzPlaceHolder="Selecciona">
                <nz-option nzValue="android" nzLabel="Android"></nz-option>
                <nz-option nzValue="ios" nzLabel="iOS"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div formGroupName="web" *ngIf="validateForm.value.type === 'web'">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Url</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa una URL">
              <input nz-input type="url" id="url" formControlName="url" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Nombre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa un nombre">
            <input nz-input type="text" id="name" formControlName="name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Descripción</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa una descripción">
            <textarea formControlName="description" nz-input rows="2" placeholder="Escribe una descripción"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Bundle id</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa un bundle id">
            <input nz-input type="text" id="bundle_id" formControlName="bundle_id" />
          </nz-form-control>
        </nz-form-item>


        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Crear Aplicación</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

</div>