<div class="inner-content">
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" style="height: 100%;">
    <div nz-col [nzLg]="14" [nzMd]="18" [nzSm]="20" [nzXs]="24">
      <h2>Nueva aplicación</h2>
      <span>Crea una nueva aplicación para iniciar sus pruebas</span>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" *ngIf="user">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">Tipo</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Selecciona un tipo de aplicación válido!">
            <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Selecciona">
              <nz-option nzValue="web" nzLabel="Web"></nz-option>
              <nz-option nzValue="mobile" nzLabel="Móvil"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div formGroupName="mobile" *ngIf="validateForm.value.type === 'mobile'">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="so">Sistema operativo</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24"
              nzErrorTip="Selecciona un tipo de sistema operativo válido válido!">
              <nz-select formControlName="so" nzAllowClear nzPlaceHolder="Selecciona">
                <nz-option nzValue="android" nzLabel="Android"></nz-option>
                <nz-option nzValue="ios" nzLabel="iOS"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div formGroupName="web" *ngIf="validateForm.value.type === 'web'">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Url</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa una URL">
              <input nz-input type="url" id="url" formControlName="url" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Nombre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa un nombre">
            <input nz-input type="text" id="name" formControlName="name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Descripción</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa una descripción">
            <textarea formControlName="description" nz-input rows="2" placeholder="Escribe una descripción"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="url" nzRequired>Bundle id</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa un bundle id">
            <input nz-input type="text" id="bundle_id" formControlName="bundle_id" />
          </nz-form-control>
        </nz-form-item>


        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Crear Aplicación</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

</div>

<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
          </div>

          <h1>Nueva aplicación</h1>
          <p class="text-muted">Crea una nueva aplicación para iniciar sus pruebas!</p>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo de aplicación</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="newApp.type">
              <option value="web">Web</option>
              <option value="mobile">Móvil</option>
            </select>
          </div>

          <div class="form-group" *ngIf="newApp.type === 'mobile'">
            <label for="exampleFormControlSelect1">Sistema operativo</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="newApp.so">
              <option value="android">Android</option>
              <option value="ios">iOS</option>
            </select>
          </div>

          <div class="input-group mb-3" *ngIf="newApp.type === 'web'">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Url" [(ngModel)]="newApp.url" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre" autocomplete="name" [(ngModel)]="newApp.name"
              required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Descripción</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" [(ngModel)]="newApp.description"></textarea>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="bundle id" [(ngModel)]="newApp.bundle_id" required>
          </div>

        </div>
        <div class="card-footer p-4 text-center">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-block btn-outline-danger"
                (click)="dangerModal.show()">Cancelar</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-block btn-primary" (click)="createNewApp()">Crear aplicación</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Deseas cancelar?</h4>
          <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Si cancelas la creación de la aplicación se perderán los datos que hayas ingresado. Estás seguro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">No, deseo continuar</button>
          <button type="button" class="btn btn-danger" (click)="goBackToList()">Si, estoy seguro</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->