<span>Nueva versión/compilación</span>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <div nz-row *ngIf="application && application.type === 'mobile'">
    <div nz-col nzSpan="24">
      <nz-upload nzType="drag" [nzMultiple]="false" [nzLimit]="1" (nzChange)="handleChange($event)"
        [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList" [nzFilter]="filters">
        <p class="ant-upload-drag-icon">
          <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Click o arrastra un ejecutable a esta área para enviarlo</p>
        <p class="ant-upload-hint">Sólo envía un archivo</p>
      </nz-upload>
      <nz-progress *ngIf="uploading" [nzPercent]="uploadPercentage" nzSize="small"></nz-progress>
    </div>
  </div>
  <div nz-row *ngIf="application">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingresa un nombre para la versión">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="version" placeholder="Versión" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingresa una url para la versión">
          <nz-input-group nzPrefixIcon="desktop">
            <input type="text" nz-input formControlName="url" placeholder="url" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor ingresa una descripción">
          <textarea formControlName="description" nz-input rows="2"
            placeholder="Unas palabras para describir esta versión"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="text-align: right">
        <nz-form-control>
          <button nz-button [nzType]="'primary'"
            [disabled]="(application.type === 'mobile' && fileList.length == 0) || uploading">Enviar</button>
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>
</form>