<nz-page-header>

  <nz-page-header-title *ngIf="loadingStatus === 'found'">Última prueba</nz-page-header-title>
  <nz-page-header-title *ngIf="loadingStatus === 'not-found'">No hay pruebas</nz-page-header-title>
  <nz-page-header-title *ngIf="loadingStatus === 'loading'">Cargando última prueba...</nz-page-header-title>
  <nz-page-header-title *ngIf="loadingStatus === 'executing-test'">Ejecutando una nueva prueba...
  </nz-page-header-title>

  <nz-page-header-subtitle *ngIf="loadingStatus === 'found'">{{getTimeFromLastTest()}}
  </nz-page-header-subtitle>
  <nz-page-header-tags *ngIf="found && lastTest">
    <nz-tag [nzColor]="'orange'" *ngIf="lastTest.status === 'in-progress'">En progreso</nz-tag>
    <nz-tag [nzColor]="'red'" *ngIf="lastTest.status === 'failed'">Falló</nz-tag>
    <nz-tag [nzColor]="'green'" *ngIf="lastTest.status === 'success'">Exitosa</nz-tag>
  </nz-page-header-tags>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="showConfirm(tplContent)"><i nz-icon nzType="plus"
        nzTheme="outline"></i>Nueva
      prueba</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <div nz-row nzAlign="middle" *ngIf="loadingStatus === 'executing-test'">
      <div nz-col nzSpan="6" style="text-align: center">
        <nz-progress [nzPercent]="newTestProgress" nzType="circle" [nzStatus]="newTestStatus"></nz-progress>
      </div>
      <div nz-col nzSpan="18">
        <nz-skeleton [nzActive]="true" rows="2"></nz-skeleton>
      </div>
    </div>
    <nz-skeleton [nzActive]="true" *ngIf="loadingStatus === 'loading'"></nz-skeleton>
    <nz-alert nzBanner nzType="info" *ngIf="loadingStatus === 'not-found'"
      nzMessage="No hemos encontrado ninguna prueba, empieza creando una!"></nz-alert>
    <div class="wrap" *ngIf="loadingStatus === 'found' && lastTest">
      <div nz-row class="content padding">
        <nz-descriptions [nzColumn]="2">
          <nz-descriptions-item nzTitle="Solicitada por" [nzSpan]="1">{{lastTest.requester}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="identificador" [nzSpan]="1"><button nz-button nzType="link" (click)="goToSelectedTest(lastTest._id)">{{lastTest._id}}</button></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Inicio" [nzSpan]="1">{{lastTest.reporterStats.start | date:'medium'}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Fin" [nzSpan]="1">{{lastTest.reporterStats.end | date:'medium'}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Duración de la prueba" [nzSpan]="1">{{lastTest.reporterStats.duration}}
            milisegundos</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Resumen" [nzSpan]="2">
            <nz-badge [nzCount]="lastTest.reporterStats.suites" class="summary-badge" nzShowZero
              [nzStyle]="getSummaryBackgroundStyle('suites')">
              <nz-tag [nzColor]="'#108ee9'">Suites</nz-tag>
            </nz-badge>
            <nz-badge [nzCount]="lastTest.reporterStats.tests" class="summary-badge" nzShowZero
              [nzStyle]="getSummaryBackgroundStyle('tests')">
              <nz-tag [nzColor]="'#108ee9'">Tests</nz-tag>
            </nz-badge>
            <nz-badge [nzCount]="lastTest.reporterStats.passes" class="summary-badge" nzShowZero
              [nzStyle]="getSummaryBackgroundStyle('passes')">
              <nz-tag [nzColor]="'#108ee9'">Passes</nz-tag>
            </nz-badge>
            <nz-badge [nzCount]="lastTest.reporterStats.pending" class="summary-badge" nzShowZero
              [nzStyle]="getSummaryBackgroundStyle('pending')">
              <nz-tag [nzColor]="'#108ee9'">Pending</nz-tag>
            </nz-badge>
            <nz-badge [nzCount]="lastTest.reporterStats.failures" class="summary-badge" nzShowZero
              [nzStyle]="getSummaryBackgroundStyle('failures')">
              <nz-tag [nzColor]="'#108ee9'">Failures</nz-tag>
            </nz-badge>
          </nz-descriptions-item>
        </nz-descriptions>
      </div>

    </div>
  </nz-page-header-content>
  <nz-page-header-footer>
  </nz-page-header-footer>
</nz-page-header>

<div class="inner-content">
  <nz-table #testsTable [nzData]="cypressTests">
    <thead>
      <tr>
        <th>identificador</th>
        <th>Solicitado por</th>
        <th>Inicio</th>
        <th>Duración</th>
        <th>Resultados</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of testsTable.data" (click)="goToSelectedTest(data._id)">
        <td>
          {{data._id}}
        </td>
        <td>
          {{data.requester}}
        </td>
        <td>
          {{data.reporterStats.start | date:'medium'}}
        </td>
        <td>
          {{data.reporterStats.duration}}ms
        </td>
        <td>
          <nz-tag [nzColor]="'orange'" *ngIf="data.status === 'in-progress'">En progreso</nz-tag>
          <nz-tag [nzColor]="'red'" *ngIf="data.status === 'failed'">Falló</nz-tag>
          <nz-tag [nzColor]="'green'" *ngIf="data.status === 'success'">Exitosa</nz-tag>

          <nz-tag [nzColor]="'blue'">Tests: {{data.reporterStats.tests}}</nz-tag>
          <nz-tag [nzColor]="data.reporterStats.tests === data.reporterStats.passes ? 'green' : 'red'">Passes: {{data.reporterStats.passes}}</nz-tag>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Imágenes" (nzOnCancel)="isVisible=false" (nzOnOk)="handleOk()"
  [nzWidth]="'800px'" [nzFooter]="null">
  <nz-carousel [nzEffect]="'fade'" [nzDotPosition]="'bottom'" nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of images">
      <div>
        <h2>{{index.name}}</h2>
        <img [src]="index.img" class="carousel-image" />
        <div class="carousel-footer"></div>
      </div>
    </div>
  </nz-carousel>
</nz-modal>

<ng-template #tplContent>
  <p>Una vez iniciada la prueba no podrá detenerse o cancelarse.</p>
  <p>Ingresa tu nombre completo para continuar:</p>
  <nz-input-group [nzAddOnBeforeIcon]="'user'">
    <input type="text" nz-input [(ngModel)]="requesterName" />
  </nz-input-group>
</ng-template>