<nz-table #testsTable [nzData]="tests" nzSize="small" nzBordered [nzTitle]="headerTemplate">
  <thead>
    <tr>
      <th>Caso</th>
      <th>Versión app</th>
      <th>Solicitó</th>
      <th>Fecha de creación</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of testsTable.data" (click)="selectTest(c)">
      <td>
        {{c.case.name}}
      </td>
      <td>
        {{c.compilation.version}}
      </td>
      <td>{{c.user.email}}</td>
      <td>{{c.creation_date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
      <td>
          <nz-badge nzStatus="success" nzText="Exitosa" *ngIf="c.status === 'success'"></nz-badge>
          <nz-badge nzStatus="error" nzText="Falló" *ngIf="c.status === 'fail'"></nz-badge>
          <nz-badge nzStatus="default" nzText="En espera" *ngIf="c.status === 'new'"></nz-badge>
          <nz-badge nzStatus="processing" nzText="En progreso" *ngIf="c.status === 'in-progress'"></nz-badge>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #headerTemplate>
  <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div nz-col nzSpan="12">
      <span>Pruebas solicitadas</span>
    </div>
    <div nz-col nzSpan="12" style="text-align: right;">
      <button nz-button nzType="link" (click)="visible = true">Nueva solicitud</button>
    </div>
  </div>
</ng-template>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="true" [nzWidth]="360" [nzVisible]="visible" nzTitle="Nueva solicitud de pruebas"
  (nzOnClose)="visible = false">
  <app-test-resquester [application]="application" (onRequestCreated)="getTests()"></app-test-resquester>
</nz-drawer>