<div class="inner-content">
  <nz-descriptions nzTitle="Información de la prueba" nzBordered *ngIf="test">
    <nz-descriptions-item nzTitle="Versión de la App">
      <nz-tag [nzColor]="'#2db7f5'">{{test.compilation.version}}</nz-tag>
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Tipo de prueba">{{test.type}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Caso de prueba">{{test.case.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Descripción del caso" [nzSpan]="3">{{test.case.description}}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="Resumen" [nzSpan]="3">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="test.reporterStats.suites | number" [nzTitle]="'Suites'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="test.reporterStats.tests | number" [nzTitle]="'Pruebas'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="test.reporterStats.passes | number" [nzTitle]="'Aprobadas'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="test.reporterStats.pending | number" [nzTitle]="'Pendientes'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="test.reporterStats.failures | number" [nzTitle]="'Fallidas'"></nz-statistic>
        </nz-col>
      </nz-row>

    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Solicitado por">{{test.user.email}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Fecha de solicitud">{{test.creation_date | date: 'dd/MM/yyyy hh:mm:ss a'}}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Hora de inicio">
      {{test.reporterStats.start | date: 'dd/MM/yyyy hh:mm:ss a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Hora de finalización">
      {{test.reporterStats.end | date: 'dd/MM/yyyy hh:mm:ss a'}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Duración" [nzSpan]="2">
      {{test.reporterStats.duration | date: 'mm:ss'}} mins.
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Estado">
      <nz-badge nzStatus="success" nzText="Completada" *ngIf="test.status === 'completed'"></nz-badge>
      <nz-badge nzStatus="error" nzText="Falló" *ngIf="test.status === 'failed'"></nz-badge>
      <nz-badge nzStatus="default" nzText="En espera" *ngIf="test.status === 'new'"></nz-badge>
      <nz-badge nzStatus="processing" nzText="En progreso" *ngIf="test.status === 'in-progress'"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Resultado">
      <nz-badge nzStatus="success" nzText="Exitosa" *ngIf="test.result === 'success'"></nz-badge>
      <nz-badge nzStatus="error" nzText="Falló" *ngIf="test.result === 'failed'"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item *ngIf="test.video" nzTitle="Video disponible"><button nz-button nzType="primary" (click)="viewVideo = true"><i nz-icon nzType="video-camera" nzTheme="outline"></i>Ver</button>
      </nz-descriptions-item>
  </nz-descriptions>

 

  <nz-divider></nz-divider>
  <nz-tabset>

    <nz-tab nzTitle="Pantallazos">
      <div *ngIf="test" nz-row>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="6"
          *ngFor="let screenshot of test.screenshots; let i = index">
          <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate" (click)="imageSelected(i)">
            <nz-card-meta nzTitle="screenshot {{i + 1}}"></nz-card-meta>
          </nz-card>

          <ng-template #coverTemplate>
            <img src="https://koko-testing-storage.s3.us-east-2.amazonaws.com/images/{{screenshot.name}}"
              [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </div>
        <nz-empty *ngIf="test.screenshots.length === 0" [nzNotFoundContent]="'No hay pantallazos'"></nz-empty>
      </div>
    </nz-tab>
    <!--
    <nz-tab nzTitle="Log">
      <nz-spin nzSimple [nzSize]="'large'" *ngIf="!log"></nz-spin>
      <code [innerHTML]="log"></code>
    </nz-tab>
  -->
  </nz-tabset>
</div>


<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="true" [nzWidth]="800" [nzVisible]="vrtVisible" nzTitle="Visual Regression"
  (nzOnClose)="vrtVisible = false">
  <app-vrt-comparator [test]="test" [index]="screenshotSelectedIndex"></app-vrt-comparator>
</nz-drawer>


<nz-modal [nzVisible]="viewVideo" [nzContent]="modalContent" [nzFooter]="null"
  (nzOnCancel)="viewVideo = false">
  <ng-template #modalContent>
    <h3>{{test.case.name}}</h3>
    <app-jwplayer [video]="video"></app-jwplayer>
  </ng-template>
</nz-modal>