<div class="inner-content">
  <nz-descriptions [nzTitle]="currentApp.name" *ngIf="currentApp" nzBordered>
    <nz-descriptions-item nzTitle="Tipo">{{currentApp.type === 'mobile' ? "Móvil" : "Web"}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Sistema Operativo" *ngIf="currentApp.type === 'mobile'">{{currentApp.so}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Url" *ngIf="currentApp.type === 'web'">{{currentApp.url}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="bundle id">{{currentApp.bundle_id}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Estado">
      <nz-tag [nzColor]="'orange'" *ngIf="currentApp.status === 'in_progress'">En progreso</nz-tag>
      <nz-tag [nzColor]="'red'" *ngIf="currentApp.status === 'error'">Error al procesar</nz-tag>
      <nz-tag [nzColor]="'green'" *ngIf="currentApp.status === 'ready_for_testing'">Lista para pruebas</nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Descripción">{{currentApp.description}}</nz-descriptions-item>

  </nz-descriptions>

  <nz-divider></nz-divider>
  <div nz-row nzGutter="16" *ngIf="currentApp">
    <div nz-col nzSpan="12">
      <app-compilations-list [application]="currentApp"></app-compilations-list>
    </div>
    <div nz-col nzSpan="12">
      <app-testcases-list [application]="currentApp"></app-testcases-list>
    </div>
  </div>

  <nz-divider></nz-divider>

  <div nz-row nzGutter="16" *ngIf="currentApp">
    <div nz-col nzSpan="24">
      <app-tests-list [application]="currentApp"></app-tests-list>
    </div>
  </div>
</div>