<div class="inner-content">
  <nz-descriptions [nzTitle]="currentApp.name" *ngIf="currentApp" nzBordered>
    <nz-descriptions-item nzTitle="Tipo">{{currentApp.type === 'mobile' ? "Móvil" : "Web"}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Sistema Operativo" *ngIf="currentApp.type === 'mobile'">{{currentApp.so}}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Url" *ngIf="currentApp.type === 'web'">{{currentApp.url}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="bundle id">{{currentApp.bundle_id}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Estado">
      <nz-tag [nzColor]="'orange'" *ngIf="currentApp.status === 'in_progress'">En progreso</nz-tag>
      <nz-tag [nzColor]="'red'" *ngIf="currentApp.status === 'error'">Error al procesar</nz-tag>
      <nz-tag [nzColor]="'green'" *ngIf="currentApp.status === 'ready_for_testing'">Lista para pruebas</nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Descripción">{{currentApp.description}}</nz-descriptions-item>

  </nz-descriptions>

  <nz-divider nzText="Compilaciones" nzOrientation="left"></nz-divider>
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <nz-table #compilationsTable [nzData]="compilations" nzSize="small" nzBordered [nzTitle]="coverTemplate">
        <thead>
          <tr>
            <th>Versión</th>
            <th>{{currentApp.type === 'web' ? 'url' : 'Peso'}}</th>
            <th>Fecha de creación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of compilationsTable.data">
            <td><nz-tag [nzColor]="'#108ee9'">{{c.version}}</nz-tag></td>
            <td *ngIf="currentApp.type === 'mobile'">{{c.size | filesize}}</td>
            <td *ngIf="currentApp.type === 'web'">{{c.url}}</td>
            <td>{{c.created_date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-col nzSpan="12">
      <app-upload-compilation [application]="currentApp" (onCompilationCreated)="getCompilations()"></app-upload-compilation>
    </div>
  </div>
</div>
<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4" *ngIf="currentApp">
        <div class="card-body p-4">

          <h1>{{currentApp.name}}</h1>
          <p class="text-muted">{{currentApp.description}}</p>


          <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo de aplicación</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="currentApp.type" disabled>
              <option value="web">Web</option>
              <option value="mobile">Móvil</option>
            </select>
          </div>

          <div class="form-group" *ngIf="currentApp.type === 'mobile'">
            <label for="exampleFormControlSelect1">Sistema operativo</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="currentApp.so" disabled>
              <option value="android">Android</option>
              <option value="ios">iOS</option>
            </select>
          </div>

          <div class="input-group mb-3" *ngIf="currentApp.type === 'web'">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Url" [(ngModel)]="currentApp.url" required>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="bundle id" [(ngModel)]="currentApp.bundle_id" required>
          </div>

        </div>
        <div class="card-footer p-4 text-center">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-block btn-outline-danger"
                (click)="dangerModal.show()">Limpiar</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-block btn-primary" (click)="createNewApp()">Actualizar
                aplicación</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mx-auto" *ngIf="currentApp">
      <div class="card mx-4" *ngIf="currentApp.type === 'mobile'">
        <div class="card-body p-4">

          <h1>Compilaciones</h1>
          <p class="text-muted">Ejecutables de la app</p>
          <alert type="warning" *ngIf="compilations.length === 0">
            Aún no hay compilaciones para esta aplicación.
          </alert>

          <table class="table table-striped" *ngIf="compilations.length > 0">
            <thead>
              <tr>
                <th>Versión</th>
                <th>Peso</th>
                <th>Fecha de creación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of compilations">
                <td><span class="badge badge-warning">{{c.version}}</span>
                </td>
                <td>{{c.size | filesize}}</td>
                <td>{{c.created_date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              </tr>

            </tbody>
          </table>

        </div>


        <div class="card-footer p-4">
          <progressbar class="progress progress-striped progress-animated" [max]="100" [value]="uploadProgress"
            *ngIf="isUploading">
            <span style="color:white; white-space:nowrap;">{{uploadProgress}}%</span>
          </progressbar>

          <h6>Nueva compilación</h6>
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Version" [(ngModel)]="newCompilation.version"
                  required>
              </div>
            </div>
            <div class="col-12">
              <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
              <button type="button" class="btn btn-success btn-s" (click)="uploadCompilation()"
                [disabled]="!uploader.getNotUploadedItems().length || newCompilation.version === ''">
                Enviar compilación
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
-->