<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="assets/img/koko.svg" alt="logo">
      <h1>Koko Testing</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard/apps">Aplicaciones</a>
      </li>
      <li nz-submenu nzOpen nzTitle="Aplicaciones" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/todoist">Todoist</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/redread">RedRead</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Casos de prueba" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/todoist-cases">Todoist (Cypress)</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/redread-cases">RedRead (Calabash)</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header [nzBackIcon]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (nzBack)="isCollapsed = !isCollapsed">
      <nz-page-header-title>

      </nz-page-header-title>
      <nz-page-header-extra>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <nz-avatar [nzText]="user.email" [nzSrc]="gravatarUrl"></nz-avatar>
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Perfil</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logOut()">Cerrar sesión</li>

          </ul>
        </nz-dropdown-menu>
      </nz-page-header-extra>
    </nz-page-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>